<form action="set_players" method="post">
  <div>
    <label for="player1">Player1:</label>
    <input type="text" name="player1">
  </div>

  <div>
    <label for="player2">Player2:</label>
    <input type="text" name="player2">
  </div>

  <div>
    <input type="submit" value="Submit">
  </div>
</form>
